
body {
    margin: 0;
    background-color: #f1f1f1;
	overflow:auto;
}
.verticalBar{
    list-style-type: none;
    margin: 0;
    padding:0px;
    width: 95px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    border-style: outset;
   overflow: hidden;
   font-family: Arial, Helvetica, sans-serif;
}
.iconnamedsn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 0px 6px 6px 0px;
    margin: 0;
}

    
#block a {
    display: block;
    color: #000;
    padding: 8px  30px;
    text-decoration: none;
     overflow: hidden;
}
.verticalBar li a:hover {
    background-color:#B7C4BD;
    color: white;
    text-align: center;
}

.verticalBar{
    text-align: center;
    
}


.container { 
    position:relative;
 }
 .backimg{
               padding-left:17px;
               width:1180px;
               height:220px;
               position:absolute; 
}
.userimg{
         width: 100px;
         height: 100px;
         left: 62px;
         top: 95px;
         position:absolute;
     }
#navigation 
{
   margin: 0;
    padding: 0;
}

.rowbar 
{
    
  
    list-style-type: none;
    display: inline;
   
}
.t1{
    border: 2px solid #A5A38D;
    border-color:   #C4C4B0    #C4C4B0    #B5A7A4;
    top: 220px;
    left: 99px;
    position: relative;
	height:42px;
    width:1183px;
    padding: 0px;
    position: absolute;
}
.textdec a{
        text-decoration: none;
		font-size:16px;     
}
 .rowbar ul {
 list-style-type: none;
    margin: 0;
    padding: 0px 0px;
    overflow: hidden;
   background-color: white;
}

.rowbar #rowblock a{
 float: left;
   font-family: Arial, Helvetica, sans-serif;
    display: block;
    color:  #CD8C38   ;;
    text-align: center;
    padding: 8px 24px;
	font-size:18px;
    text-decoration: none;
}
.rowbar .rowblock2 a{
    position: absolute;
    float: left;
    margin-top:0px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    color: black;
    text-align: center;
    padding: 0px 0px;
	font-size:18px;
    text-decoration: none;
}

li a:hover {
    background-color:#B7C4BD;
}
 .span{
     padding-left: 5px;
 }
   
	.t3{
             position:absolute;
          
            height:140px;
            width:765px;
            border:1px solid #A5A38D ;   
            top: 60px;
            left: 75px;
	}
	
	 .t5{
			position:absolute;
			background-color: white;
            width:757px;
            border: 1px solid #A5A38D;
            top:220px;left: 75px;
            padding-top: 10px;
            }
	 .t6{
         background-color: white;
		 position:absolute;
          width:757px;
          border: 1px solid #A5A38D;
          top:570px;
          left:75px;
          padding-top: 10px;
         }
		#textarea{
                    resize: none;
					position:absolute;
					left:92px;top:636px;
					padding:0;
					margin:0;
	            }
	.t7{           
         width:320px;
         border:  1px solid #A5A38D;
         background-color: white;
         left:950px;
         position: absolute;
         top:310px;
        }
    .t8{
       width:320px;
      border:  1px solid #A5A38D;
      background-color: white;
      left:950px;
      position: absolute;
       top:590px;
				}
				.textarea2
				{
					resize: none;
                    position: absolute;
					left:106px;top:2em;
					padding:0;
					margin:0;
                }
                textarea{
                    resize: none;
                }
                .hvr:hover{
                   color: goldenrod;
                     text-decoration: underline;
                }
                .hvr1:hover{
                    text-decoration: underline;
                    color: goldenrod;
                }
                .textarea3
				{
					resize: none;
                   
					left:106px;top:1em;
					padding:0;
					margin:0;
                }
              
#navigation1 
{
    margin: 0;
    padding: 0;
}
.imggal img{
     height:75px;width:75px;  top:310px;
}
.dropbtn {
    background-color: #EEEDE3   ;
    color: black;
    padding: 2px 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #F1AD56   ;
}

.dropdown {
    float: right;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    background-color: white ;

    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: #F1AD56;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}